.container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 40% 60%;
  grid-gap: 10px;
  min-height: 400px;
  justify-content: center;
  align-content: center;
}

.container p {
  background: lightblue;
  text-align: center;
}
